
EasyStylesApp/\.vs/EasyStylesApp/v14/\.suo

EasyStylesApp/EasyStylesApp/EasyStylesApp/bin/

EasyStylesApp/EasyStylesApp/EasyStylesApp/obj/

EasyStylesApp/EasyStylesApp/EasyStylesApp\.Droid/bin/

EasyStylesApp/EasyStylesApp/EasyStylesApp\.Droid/obj/

EasyStylesApp/EasyStylesApp/EasyStylesApp\.Droid/EasyStylesApp\.Droid\.csproj\.user

EasyStylesApp/EasyStylesApp/EasyStylesApp\.iOS/obj/
